<h1>Indique um link relacionado ao assunto</h1>
<div id="result"></div>
<form id="exercise" method="POST" action="<%= exercise_attempt_executions_url(@attempt.exercise, @attempt)%>">
	<input name="solution" id="solution" value="" />
	<input type="button" id="try" value="Indicar">
	<input type="button" id="skip" value="Ignorar e continuar">
</form>

<h1>Links que já foram indicados:</h1>
<ul>
<% @attempt.exercise.attempts.map{|a| a.executions}.flatten.each do |ex| %>
	<li><a href="<%=ex.solution %>"><%= ex.solution %></a></li>
<% end %>
</ul>

<script>

(function(){
	var fromServer = {
		returnUri: "<%= @attempt.return_uri %>",
		links: <%= raw @attempt.exercise.attempts.map{|a| a.executions}.flatten.map{|e| e.solution}.inspect %>
	};

	var MESSAGES = {
		sucess: "Sucesso",
		error: "Não foi possivel cadastrar seu link.",
		repeated: "Esse link já foi indicado."
	}

	function showResult(r) {
		$('#result').html(r.suceeded ? MESSAGES.sucess : MESSAGE.error);
	}
	function solutionToSend() {
		var link = $('#solution').val();

		return {solution : link};
	}
	var form = gnarus.attemptForm(solutionToSend, showResult, fromServer.returnUri);
	form.originalProcess = form.process;
	form.process = function() {
		var link = $('#solution').val();
		if(linkIsIncludedIn(fromServer.links,link)) {
			$('#result').html(MESSAGES.repeated);
		} else {
			return form.originalProcess();
		}
	}
	form.setup($('#try'),$('#skip'));

	function linkIsIncludedIn(links,link) {
		var cleaner = new LinkCleaner();
		var link = cleaner.clean(link);
		var links = cleanLinks(links);
		var isIncluded = (links.indexOf(link) !== -1);
		return isIncluded;
	}

	function cleanLinks(links) {
		var cleaner = new LinkCleaner();
		var cleanedLinks = []
		for(var i = 0; i<links.length; i++) {
			var link = links[i];
			cleanedLinks.push(cleaner.clean(link));
		}
		return cleanedLinks;
	}

}())
</script>
