<ol>
<% @attempt.exercise.attempts.map{|a| a.executions}.flatten.each do |ex| %>
	<li><a href="<%=ex.solution %>"><%= ex.solution %></a></li>
<% end %>
</ol>

<div id="result"></div>
<form id="exercise" method="POST" action="<%= exercise_attempt_executions_url(@attempt.exercise, @attempt)%>">
	<input name="solution" id="solution" value="" />
	<input type="button" id="try" value="Verificar">
	<input type="button" id="skip" value="Ignorar e continuar">
</form>

<script>

(function(){
	var fromServer = {
		returnUri: "<%= @attempt.return_uri %>",
		links: <%= raw @attempt.exercise.attempts.map{|a| a.executions}.flatten.map{|e| e.solution}.inspect %>
	};

	var MESSAGES = {
		sucess: "Sucesso",
		error: "Não foi possivel cadastrar seu link.",
		repeated: "Esse link já foi indicado."
	}

	function showResult(r) {
		$('#result').html(r.suceeded ? MESSAGES.sucess : MESSAGE.error);
	}
	function solutionToSend() {
		var link = $('#solution').val();

		return {solution : link};
	}
	var form = gnarus.attemptForm(solutionToSend, showResult, fromServer.returnUri);
	form.originalProcess = form.process;
	form.process = function() {
		var link = $('#solution').val();
		var isARepeatedLink = (fromServer.links.indexOf(link) !== -1);
		if(isARepeatedLink) {
			$('#result').html(MESSAGES.repeated);
		} else {
			return form.originalProcess();
		}
	}
	form.setup($('#try'),$('#skip'));
}())
</script>
